@font-face {
  font-family: "poppins";
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

.App {
  text-align: center;
  overflow: hidden;
}

.app_container {
  background-color: #ef6351;
  min-height: 100vh;
}

.fullscreen {
  padding: 1em;
}

.fsb {
  font-weight: 600;
}

.button {
  font-family: "Poppins";
  padding: 8px 17px;
  margin: 0px 10px;
  color: #222;
}

.yellow {
  background-color: #efcb68;
}

.onHover {
  transform: scale(1);
  transition-duration: 200ms;
  cursor: pointer;
}

.onHover:hover {
  color: #efcb68;
  background-color: #222;
}

.mainTitle {
  font-family: "Poppins";
}

.link {
  color: #222;
  text-decoration: none;
}

.app_content {
  padding: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pageContainer{
  margin: 0 1em;
}

.pageTitle {
  margin:0em 0em 1em 0em;
  font-family: "poppins";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  width: 10vw;
}

.logo2 {
  width: 15vw;
}

.App-link {
  color: #61dafb;
}

.makeBigger {
  transform: scale(1);
  cursor: pointer;
}

.makeBigger:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition-duration: 300ms;
}

.selected {
  font-weight: bold;
  border-bottom: 3px solid #efcb68;
}

.textCenter {
  margin: 0.5em auto;
}

.error {
  width: fit-content;
  margin: 5px auto;
  text-align: left;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
