.page {
  min-height: 96vh;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  justify-content: center;
}

.container {
  text-align: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20vh;
}
